*{
    box-sizing: border-box;
    text-align: center;
}

body {
    width: 960px;
}

name {
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    height: 100px;
    padding: 30px;

}

About {

}

Portfolio{

}

Contact {

}

section {
    width: 565px;
    height: 300px;
    background-color: #ebebeb;
}


footer {

    background-color: ##777;
    clear: both;
    margin-top: 20px;
}

